# Virtual environment
venv/
Pipfile.lock

# Static files
/staticfiles/
.DS_Store

# Logs
*.log
**/migrations/*

# Ignore static files
**/static/*

# Ignore media files
**/media/*

# Ignore coverage reports
**/coverage/*

# Ignore database files
*.db

# Ignore virtual environment file
*.env

# Other
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.orig
*.tmp
*.json
.idea/
.vscode/
